services:
  - type: web
    name: amenia-scraper-api
    env: node
    plan: free
    buildCommand: |
      apt-get update
      apt-get install -y chromium
      npm install
    startCommand: |
      PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium node index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PUPPETEER_EXECUTABLE_PATH
        value: /usr/bin/chromium