services:
  - type: web
    name: amenia-scraper
    env: node
    plan: free

    buildCommand: |
      apt-get update
      apt-get install -y chromium
      npm install

    startCommand: node --max-old-space-size=2048 index.js

    envVars:
      - key: PORT
        value: 10000
      - key: NODE_ENV
        value: production
      - key: PUPPETEER_EXECUTABLE_PATH
        value: /usr/bin/chromium
      - key: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD
        value: "true"
      - key: PUPPETEER_CACHE_DIR
        value: "/tmp/puppeteer_cache"