services:
  - type: web
    name: amenia-scraper
    env: node
    buildCommand: |
      apt-get update
      apt-get install -y chromium
      npm install
    startCommand: node --max-old-space-size=2048 index.js
    plan: free
    envVars:
      - key: PORT
        value: 10000