services:
  - type: web
    name: amenia-scraper
    env: node
    plan: free
    buildCommand: npm run render-build
    startCommand: node index.js
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production