services:
  - type: web
    name: amenia-scraper
    env: node
    plan: free
    region: oregon
    buildCommand: npm install
    startCommand: node --max-old-space-size=2048 index.js
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 20.10.0
      - key: PUPPETEER_CACHE_DIR
        value: /tmp/puppeteer