services:
  - type: web
    name: amenia-scraper-api
    env: node
    region: oregon
    plan: free
    buildCommand: |
      apt-get update
      apt-get install -y chromium
      npm install
    startCommand: |
      PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000