services:
  - type: web
    name: amenia-scraper
    env: node
    plan: free
    region: oregon
    autoDeploy: true
    buildCommand: |
      apt-get update
      apt-get install -y chromium
      npm install
    startCommand: node --max-old-space-size=2048 index.js
    envVars:
      - key: PUPPETEER_EXECUTABLE_PATH
        value: /usr/bin/chromium
      - key: NODE_ENV
        value: production
    healthCheckPath: /